:root{
  --background-color: #1a1a1a;
  --dark-red: rgba(144, 48, 48, 1);
  --headfont: 'NewYork';
  --lemon: 'LemonMilk';
  --cool: 'Coolvetica';
}


@font-face {
    font-family: 'NewYork';
    src: url(../fonts/NewYork.otf);
}

@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/Coolvetica\ Rg.otf);
}

@font-face {
  font-family: 'LemonMilk';
  src: url(../fonts/LEMONMILK-Regular.otf);
}

/*Start-Screen (Login and Sign In)*/

#startscreen{
    background-color: black;
      font-family: var(--cool);
}

.login_field{
  width: 20vw;
  transform: scale(1.5);
  position: absolute;
  left: 10vw;
  top: 25vh;
}

/* From Uiverse.io by Praashoo7 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: var(--dark-red);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

/*Discover*/

#discover{
  background-color: var(--background-color);
}

#discover h1{
  color: var(--dark-red);
  font-family: var(--headfont);
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: -3vh;
}

#discover h3{
  color: white;
  text-align: center;
  font-family: var(--lemon);
  position: relative;
  top: -8vh;
}

.discover-news h2{
  color: white;
  font-family: var(--lemon);
  position: absolute;
  top: 40vh;
  left: 3vw;
}

.discover-game{
  text-align: center;
  position: absolute;
  top: 80vh;
  left: 35vw;
  font-family: var(--cool);
  color: white;
}

.discover-game h2{
  font-family: var(--lemon);
}

.discover-news{
  display: flex;
  justify-content: space-around;
  font-family: var(--lemon);
}

.discover-news div{
  position: absolute;
  top: 50vh;
}

.discover-news div:hover{
  transform: scale(1.05);
  transition: 1s;
}

.news1{
  background-color: var(--dark-red);
  width: 20vw;
  height: 25vh;
  position: relative;
  border-radius: 10px; 
  color: white;
  padding: 1rem; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  font-size: 1.2rem;
  left: 3vw;
}

.news2{
  background-color: var(--dark-red);
  width: 20vw;
  height: 25vh;
  position: relative;
  border-radius: 10px; 
  color: white;
  padding: 1rem; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  font-size: 1.2rem;
  left: 26vw;
}

.news3{
  background-color: var(--dark-red);
  width: 20vw;
  height: 25vh;
  position: relative;
  border-radius: 10px; 
  color: white;
  padding: 1rem; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  font-size: 1.2rem;
  left: 49vw;
}

.news4{
  background-color: var(--dark-red);
  width: 20vw;
  height: 25vh;
  position: relative;
  border-radius: 10px; 
  color: white;
  padding: 1rem; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  font-size: 1.2rem;
  left: 72vw;
}

.most-wanted-actors{
  display: flex;
  justify-content: space-around;
  font-family: var(--cool);
  color: white;
}

.most-wanted-actors div{
  position: absolute;
  top: 120vh;
}

.most-wanted-actors div:hover{
  transform: scale(1.05);
  transition: 1s;
}

.most-wanted-actors h2{
  position: absolute;
  top: 109vh;
  left: 3vw;
}

.most-wanted-actors p{
  position: absolute;
  top: 110vh;
}


.most-wanted-actors button{
  position: absolute;
  top: 110vh;
  right: 7vw;
}

.actors1{
  background-image: url(../media/samuelljackson.png);
  width: 20rem;
  height: 20rem;
  left: 3vw;
  text-align: center;
  font-size: 3rem;
  background-size: cover; 
  background-position: center;
  color: var(--dark-red);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding-bottom: 1rem; 
  border-radius: 1rem;
}

.actors2{
  background-image: url(../media/robertdeniro.jpg);
  width: 20rem;
  height: 20rem;
  text-align: center;
  font-size: 3rem;
  left: 26vw;
  background-size: cover; 
  background-position: center;
  color: var(--dark-red);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding-bottom: 1rem; 
  border-radius: 1rem;
}

.actors3{
  background-image: url(../media/alpacino.jpg);
  width: 20rem;
  height: 20rem;
  text-align: center;
  font-size: 3rem;
  left: 49vw;
  background-size: cover; 
  background-position: center;
  color: var(--dark-red);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding-bottom: 1rem; 
  border-radius: 1rem;
}

.actors4{
  background-image: url(../media/mikestarr.webp);
  width: 20rem;
  height: 20rem;
  text-align: center;
  font-size: 3rem;
  left: 72vw;
  background-size: cover; 
  background-position: center;
  color: var(--dark-red);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding-bottom: 1rem; 
  border-radius: 1rem;
}

.discover_button {
  background-color: var(--dark-red);
  color: white;
  border: 2px solid red;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.discover_button:hover {
  background-color: white;
  color: #ff0000;
  box-shadow: 0 0 10px #ff0000;
}
/*Nav - Bar*/

.navbar {
  position: sticky;
  top: 0;
  width: 93.5vw;
  background: linear-gradient(90deg, #333, #555);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}

.nav-button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
    font-family: var(--cool);
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.user-icon img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.user-icon img:hover {
  transform: scale(1.1);
}

/*SHOWS*/

#shows{
  background-color: var(--background-color);
}

#shows h1{
  color: var(--dark-red);
  font-family: var(--headfont);
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: -3vh;
}

.recommendations{
  position: absolute;
  top: 27vh;
  left: 3vw;
}

.recommendations h3{
  color: white;
  font-family: var(--lemon);
}
/*ACTORS*/

#actors{
  background-color: var(--background-color);
}

/*GAMES*/

#games{
  background-color: var(--background-color);
}